.App {
  display: flex;
  flex-direction: column;
  background-color: #d33d29;
color: rgb(104, 104, 104);
font-family: "Poppins",sans-serif;
margin: 0 auto;
height: 100%;
width: 100%;
  background-image: url(https://pngimg.com/uploads/filmstrip/filmstrip_PNG100.png);
  background-size: 130%;
background-repeat: no-repeat;
background-position-y: 850px;
background-position-x: -80px;

}

.MoviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.movie-card {
  border-radius: 6px;
  background: darkred;
  position: relative;
  margin: 1rem;
  width: 358px;
  box-shadow: 6px 8px 28px 0px rgb(0, 0, 0 );
}
img{
  width: 300px;
}
